<article>
    <h1 class="main-head">Portfolio</h1>
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="images/Interior Occlusion_3D renders or Animation.jpeg.jpg" class="card-img-top" alt="Image 1">
                    <div class="card-body">
                        <h5 class="card-title">3D Witch House Render</h5>
                        <p class="card-text">This image is a 3d oclussion render of a witch room modeled in maya.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/Mystical Forest_Photoshop Composition(2).jpg" class="card-img-top" alt="Image 2">
                    <div class="card-body">
                        <h5 class="card-title">Mystical Poster</h5>
                        <p class="card-text">A photoshop image manipulation technique used to make a new image out of 4 to 5 different images.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/Mothers day Poster_Photoshop Composition(1).jpg" class="card-img-top" alt="Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Mother's Day Poster</h5>
                        <p class="card-text">This poster is also made using photoshop with the help of different types of brush tool.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/Untitled-House Exterior Occlusion render_3D renders or Animation.jpeg.jpg" class="card-img-top" alt="Image 4">
                    <div class="card-body">
                        <h5 class="card-title">3d Shop Oclussion Render</h5>
                        <p class="card-text">This is a 3d occlusion render of a shop I made using maya software.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/Fast Exposure.jpg" class="card-img-top" alt="Image 5">
                    <div class="card-body">
                        <h5 class="card-title">Fast Exposure Photography</h5>
                        <p class="card-text">A photo of a moving vehicle takenin kitchener during my photography assignment.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/Product Package Design-4K-Camera.jpg" class="card-img-top" alt="Image 6">
                    <div class="card-body">
                        <h5 class="card-title">Prodouct Pakage Design</h5>
                        <p class="card-text">I took googles as my product and envisioned its package design and rendered it in 3d software.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </article>